{% extends 'base.html.twig' %}

{% block title %}Art mathématique{% endblock %}

{% block body %}
<div>
    <h1>Bienvenue sur le site de l'atelier d'art de Roanne</h1>
    <p>Sur ce site vous retrouverez differentes oeuvres d'arts générées à partir de plusieurs paramètres.
    </p>
</div>
{% endblock %}
