{% extends 'base.html.twig' %}

{% block title %}Art mathématique{% endblock %}

{% block body %}
<div>
    <h1>Bienvenue sur le site de l'atelier d'art de Roanne</h1>
    <p>Sur ce site vous retrouverez differentes oeuvres d'arts générées à partir de plusieurs paramètres.
    Voici quelques exemples d'oeuvres que vous pourrez genérer sur ce site:
    </p>
    <ul>
        <li>
            <h5>née carré</h5>
            <img src="examples/nee_carre.png" width="50%">
        </li>
        <li>
            <h5>suite carré</h5>
            <img src="examples/suite_carre.png" width="50%">
        </li>
    </ul>

</div>
{% endblock %}
