<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Art Mathématique{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
  
        {% block stylesheets %}
            {###########################################}
            {# Utilise le style sketchy de bootswatch  #}
            {###########################################}
            <link href="css/bootstrap.css" rel="stylesheet">
            <link href="css/font-awesome.css" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Menu</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                <a class="nav-link" href="/koch">Koch</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/nee_carre">Nee carree</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/suite_carre">Suite carre</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block body %}{% endblock %}
    <footer class="bg-secondary">
        <div class="row">
            <div class="col-6">
                <h3>Réseaux</h3>
                <a href="https://github.com/qwertyjuju" class="fa fa-github" width="30%"></a>
                <a href="https://www.linkedin.com/in/julien-andreoli-73974517b/" class="fa fa-linkedin"></a>
            </div>
            <div class="col-6">
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                    <img class="align-right" alt="Licence Creative Commons" style="border-width:0" src="img/creative-commons.png">
                </a><br />
                Ce(tte) œuvre est mise à disposition selon les termes de la'|trans <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"> Licence Creative Commons Attribution - Pas d'Utilisation Commerciale - Partage dans les Mêmes Conditions 4.0 International</a>..
                </div>
            </div>
        </div>
    </footer>
    <script src="js/jquery.min.js"></script> 
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/prism.js" data-manual></script>
    <script src="js/custom.js"></script>
    {###########################################}
    {# <script src="{{ asset('js/jquery.min.js') }}"></script> #}
    {# <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script> #}
    {# <script src="{{ asset('js/prism.js') }}" data-manual></script> #}
    {#  <script src="{{ asset('js/custom.js') }}"></script> #}
    {###########################################}
    </body>
</html>
